.header{
    background-color: #00BFFF;
}

.body{
    --background:#87CEFA;
    --color:black;
}

.Bt_Adicionar_Leito{
    position:fixed;
    right:16px;
    bottom:16px;
    height: 65px;
    width: 65px;
    color: #00ff00;
    border-radius: 50%;

}