<ion-header>
  <ion-toolbar color="primary">  
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
       </ion-buttons>
      <ion-title>Indicadores</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content color="secondary">
    <ion-item class="Input Input_Primeiros" lines="none">
      <ion-input type="text" placeholder="Prontuário" [(ngModel)]="indicador.Prontuario"></ion-input>
    </ion-item>

    <ion-item class="Input" lines="none">
      <ion-input type="text" placeholder="Tipo" [(ngModel)]="indicador.Tipo"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top Input_Date" lines="none" color="secondary">
      <ion-label>Data da Entrada:</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD"  [(ngModel)]="indicador.DataEntrada"></ion-datetime>
    </ion-item>

    <ion-item class="ion-margin-top Input_Date" lines="none" color="secondary">
      <ion-label>Horário da Entrada:</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="indicador.HorarioEntrada"></ion-datetime>
    </ion-item>

    <ion-item class="ion-margin-top Input_Date" lines="none" color="secondary">
      <ion-label>Data da Saída:</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="indicador.DataSaida"></ion-datetime>
    </ion-item>

    <ion-item class="ion-margin-top Input_Date" lines="none" color="secondary">
      <ion-label>Horário da Saída:</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="indicador.HorarioSaida"></ion-datetime>
    </ion-item>
  
      <ion-button (click)="saveIndicador()" color="success" id="Bt_Cadastrar" expand="block">
        Salvar
      </ion-button>

</ion-content>