<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="logout()" slot="start" class="Bt_Sair">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  
  <div id="1Linha">
    <ion-card routerLink="../homeNoAuth" expand="block" id="formularios" color="primary">
      <ion-img id="img_Entrada_Dados" src="../assets/img/icone_Formularios.png"></ion-img>
      <p id="Titulo_Entrada_Dados">Entrada de Dados</p> 
    </ion-card>

    <ion-card routerLink="../graficosNoAuth" expand="block" id="indicadores" color="primary">
      <ion-img id="img_Indicadores" src="../assets/img/icone_Graficos.png"></ion-img>
      <p id="Titulo_Indicadores">Indicadores</p>
    </ion-card>
  </div>

  <div id="2Linha">
    <ion-card routerLink="../leitos" expand="block" id="leitos" color="primary">
      <ion-img id="img_leitos" src="../assets/img/icone_Leitos.png"></ion-img>
      <p id="Titulo_Leitos">Leitos</p> 
    </ion-card>

  </div>
</ion-content>