#formularios{
    height: 130px;
    width: 44%;
    float: left;
    padding: 0 0 0 0%;
    color:white;
    text-align: center;
}

#indicadores{
    height: 130px;
    width: 44%;
    float: right;
    padding: 0 0% 0 0;
    color :white;
    text-align: center;
}

#img_Entrada_Dados{
    margin: 5% 24% 0 24%;
    width: 52.5%;
}

#img_Indicadores{
    margin: 5% 24% 0 24%;
    width: 52.5%;
}

#Titulo_Entrada_Dados{
    margin:5% 0 0 0;
}

#Titulo_Indicadores{
    margin:5% 0 0 0;
}

#leitos{
    height: 130px;
    width: 44%;
    float: left;
    padding: 0 0% 0 0;
    color :white;
    text-align: center;
}

#img_leitos{
    margin: 5% 24% 0 24%;
    width: 52.5%;
}

#Titulo_Leitos{
    margin:5% 0 0 0;
}
