.Input{
    --background: var(--ion-color-secondary);
    --color: white;
    border-bottom: solid 1px white;
    margin: 20px 25px 0 25px;
}

.Input_Primeiro{
    margin: 30px 25px 0 25px;
}
 
#Bt_Cadastrar{
    margin:30px 25px 0 25px;
    height: 50px;
}