<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
       </ion-buttons>
    <ion-title>
      Entrada de Dados
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content color="secondary">
 
  <ion-button class="Botao Botao_Primeiro" routerLink="../indicadorNoAuth" expand="block">
    Formulário Entrada/Saída
  </ion-button>

  <ion-button class="Botao" routerLink="../cadastro-unidade" expand="block">
    Cadastro unidade
  </ion-button>

  <ion-button class="Botao" routerLink="../cadastro-paciente" expand="block">
    Cadastro paciente
  </ion-button>

</ion-content>
